body {
    font-family: 'Roboto',sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}
.link {
    text-decoration: none;
    color: #2e2f42;
}
.link:hover,
.link:focus {
    color: #404BBF;
}
.title {
    font-weight: 700;
    font-size: 36px;
}
.text {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}


.header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.logo {
    font-family:'Raleway',sans-serif ;
    font-weight: 700 ;
    font-size: 18px;
    margin-left: 156px;
    margin-top: 24px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
.logo-1 {
    color: #2E2F42;
}
.nav {
    margin-top: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.nav-1 {
    margin-left: 76px;
}
.nav-2 {
    margin-left: 40px;
}
.nav-3 {
    margin-left: 40px;
}
.contacts {
    font-weight: 400;
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
}




   


.page-title-section {
    background-color: #2E2F42;
    text-align: center;
}
.page-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    margin: 472px;
    margin-top: 0px;
    margin-bottom: 48px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
ol, ul {
    list-style-type: none;
}
.button {
    color: #ffffff;
    background-color: #4D5AE5;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: none;
    margin-bottom: 188px;
    font-size: 16;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
    background-color: #404BBF;

}
.info {
    margin-bottom: 120px;
}
.page-info-title {
    color: #2E2F42;
    font-size: 20;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-team-section {
    background-color: #F4F4FD;
}
.page-team-title {
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.page-team-content {
    background-color: #ffffff;
    text-align: center;
}
.page-team-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.page-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.page-portfolio-title {
    text-align: center;
}
.page-portfolio-content {
    background-color: #ffffff;
}
.page-portfolio-content-1 {
    margin-left: 156px;
}
.page-portfolio-content-2 {
    margin-left: 24px;
}
.page-portfolio-content-3 {
    margin-left: 24px;
}
.page-portfolio-content-4 {
    margin-left: 156px;
}
.page-portfolio-content-5 {
    margin-left: 24px;
}
.page-portfolio-content-2 {
    margin-left: 24px;
}


footer {
    background-color: #2E2F42;
}
.footer-logo {
    font-family:'Raleway',sans-serif ;
    font-weight: 700 ;
    font-size: 18px;
    margin-left: 156px;
    margin-top: 24px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
.footer-logo-1 {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
}