body {
    font-family: 'Roboto',sans-serif;
    color: #434455;
    line-height: 1.5;
}
.link {
    text-decoration: none;
    color: #2e2f42;
}
.link:hover,
.link:focus {
    color: #404BBF;
}
.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.logo {
    display: flex;
}
nav ul {
    display: flex;
}
.nav {
    margin-top: 24px;
    font-weight: 500;
    color: #2e2f42;
}
.nav-1 {
    margin-left: 76px;
}
.nav-2 {
    margin-left: 40px;
}
.nav-3 {
    margin-left: 40px;
}
.contacts {
    font-weight: 400;
}
address ul {
    display: flex;
}
.logo {
    font-family:'Raleway',sans-serif ;
    font-weight: 700 ;
    display: flex;
    width: 115px;
    height: 24px;
    margin-left: 156px;
    margin-top: 24px;
}
.logo-1 {
    color: #4D5AE5;
}
.logo-2 {
    color: #2E2F42;
}
.contacts {
    color: #434455;
}


.page-title-section {
    background-color: #2E2F42;
    text-align: center;
    box-sizing: border-box;
}
.page-title {
    color: #ffffff;
    font-weight: 700;
    margin: 472px;
    margin-top: 0px;
    margin-bottom: 48px;
    text-align: center;
}
ol, ul {
    list-style-type: none;
}
.button {
    color: #ffffff;
    background-color: #4D5AE5;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: none;
    margin-bottom: 188px;
    font-size: 16;
    font-weight: 500;
    cursor: pointer;
}
.info {
    display: flex;
    margin-bottom: 120px;
}
.page-team-section {
    background-color: #F4F4FD;
}
.page-team-title {
    text-align: center;
    
}
.page-team-list {
    display: flex; 
}
.page-team-content {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 264px;
    height: 380px;
    text-align: center;
}
.page-team-content-1 {
    margin-left: 156px;
}
.page-team-content-2 {
    margin-left: 24px;
}
.page-team-content-3 {
    margin-left: 24px;
}
.page-team-content-4 {
    margin-left: 24px;
}

.page-portfolio-title {
    text-align: center;
}
.page-portfolio-list-1,
.page-portfolio-list-2 {
    display: flex;
}
.page-portfolio-content {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 360px;
    height: 420px;
}
.page-portfolio-content-1 {
    margin-left: 156px;
}
.page-portfolio-content-2 {
    margin-left: 24px;
}
.page-portfolio-content-3 {
    margin-left: 24px;
}
.page-portfolio-content-4 {
    margin-left: 156px;
}
.page-portfolio-content-5 {
    margin-left: 24px;
}
.page-portfolio-content-2 {
    margin-left: 24px;
}

.title {
    font-weight: 700;
    font-size: 36px;
}
.text {
    color: #434455;
    font-size: 16;
}
.bold-text {
    color: #2E2F42;
    font-size: 20;
}
footer {
    background-color: #2E2F42;
}
.footer-logo {
    font-family:'Raleway',sans-serif ;
    font-weight: 700 ;
    display: flex;
}
.footer-logo-1 {
    color: #4D5AE5;
}
.footer-logo-2 {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
}